.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Alinea los elementos en la parte superior */
    margin: 20px;
    /* Espacio alrededor del contenedor */
}

.form-container {
    flex: 1;
    /* Permite que el contenedor del formulario ocupe espacio */
    max-width: 400px;
    /* Ancho máximo del formulario */
    margin-right: 20px;
    /* Espacio entre el formulario y el video */
}

.video-container {
    flex: 1;
    /* Permite que el contenedor de video ocupe espacio */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra el contenido del video */
}